In [1]:
#Import libraries
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

#edit this number for your pgAdmin 4 port. Dorna has 5433 and Abraham has 5432
port = 5432;

In [2]:
# Create paths for datasets downloaded
diversity_path = "diversityindex.csv"
income_path = "kaggle_income.csv"

# Import csvs as pandas dataframes
diversity_table = pd.read_csv(diversity_path, encoding="ANSI")
income_table = pd.read_csv(income_path, encoding="ANSI")

In [3]:
# Grab a list of locations to run through. Diversity database puts the county and state together.
locations = diversity_table['Location']

In [4]:
# Separate the (county, state) format and make it (county) and (state)
# Created a string of bad data.
Bad_Data = []
County = []
State = []
Cleaned_Diversity_Table = []

for location in locations:
    fixed_location = location.split(",")
    if(len(fixed_location)>1):
        County.append(fixed_location[0])
        State.append(fixed_location[1])
    else:
        Bad_Data.append(fixed_location)

In [5]:
# I cleaned the data by getting rid of the "Location" data that has only the state in it.
# I got rid of the first bad data so I can run the for loop recursively for second index to the last.

Cleaned_Diversity_Table = diversity_table[diversity_table["Location"]!=Bad_Data[0][0]]

for Bad_Datum in Bad_Data:
    Cleaned_Diversity_Table = Cleaned_Diversity_Table[Cleaned_Diversity_Table["Location"]!=Bad_Datum[0]]

In [6]:
# Reset the index to get a correct count of data
Cleaned_Diversity_Table = pd.DataFrame(Cleaned_Diversity_Table.reset_index(drop=True))

In [7]:
# Created new columns to re-input the county and state separately. Dropped the (county,state) format
Cleaned_Diversity_Table["County"] = County
Cleaned_Diversity_Table["State"] = State
Cleaned_Diversity_Table = Cleaned_Diversity_Table.drop(columns=["Location"])

In [8]:
# Renamed the data columns so it's easier to understand.
Renamed_Diversity_Table = Cleaned_Diversity_Table.rename(columns={"Black or African American alone, percent, 2013":"African American",
                                                                 "American Indian and Alaska Native alone, percent, 2013":"Native American",
                                                                 "Asian alone, percent, 2013":"Asian",
                                                                 "Native Hawaiian and Other Pacific Islander alone, percent,":"Pacific Islander",
                                                                 "Two or More Races, percent, 2013":"Multi-Racial",
                                                                 "Hispanic or Latino, percent, 2013":"Hispanic or Latino",
                                                                 "White alone, not Hispanic or Latino, percent, 2013":"White"})

In [9]:
# Reorganized the dataset
Renamed_Cleaned_Diversity_Table = Renamed_Diversity_Table[["County","State","African American","Native American",
                                                   "Asian","Pacific Islander","Multi-Racial","Hispanic or Latino","White"]]

# Finished Cleaned Diversity Table
Cleaned_Diversity_Table = Renamed_Cleaned_Diversity_Table

for i in range(len(Renamed_Cleaned_Diversity_Table)):
        Cleaned_Diversity_Table.iloc[i,1] = Renamed_Cleaned_Diversity_Table.iloc[i,1][1:]

C:\Users\Abraham\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [10]:
# Cleaning US_income dataset

# Dropped all data that has Puerto Rico. They're a state, but not included in the diversity table.
US_income_table = income_table[income_table["State_Name"]!="Puerto Rico"]

In [11]:
# Dropped some columns not needed.
Dropped_US_Income_Table = US_income_table.drop(columns=["id","State_Code","Type","Primary","Area_Code","ALand","AWater","sum_w"])
# Changed some column names
Cleaned_US_Income_Table = Dropped_US_Income_Table.rename(columns={"State_Name":"State Name",
                                                                 "State_ab":"State"})

In [12]:
# Show Cleaned Data to make sure we have what we need.
Cleaned_US_Income_Table

,State Name,State,County,City,Place,Zip_Code,Lat,Lon,Mean,Median,Stdev
0,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,36611,30.771450,-88.079697,38773,30506,33101
1,Alabama,AL,Barbour County,Louisville,Clio city,36048,31.708516,-85.611039,37725,19528,43789
2,Alabama,AL,Shelby County,Columbiana,Columbiana city,35051,33.191452,-86.615618,54606,31930,57348
3,Alabama,AL,Mobile County,Satsuma,Creola city,36572,30.874343,-88.009442,63919,52814,47707
4,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,36528,30.250913,-88.171268,77948,67225,54270
...,...,...,...,...,...,...,...,...,...,...,...
32141,Wyoming,WY,Albany County,Cheyenne,Laramie city,82001,41.136941,-104.751957,73843,69614,48349
32142,Wyoming,WY,Albany County,Cheyenne,Laramie city,82009,41.181198,-104.787849,77348,68371,55082
32143,Wyoming,WY,Albany County,Diamondville,Laramie city,83116,41.819843,-110.556212,78640,70752,52272
32144,Wyoming,WY,Albany County,Casper,Laramie city,82604,42.816298,-106.338823,87972,79809,59325
32145,Wyoming,WY,Albany County,Powell,Laramie city,82435,44.747875,-108.787320,76274,64557,46315

In [13]:
# Merge Datasets
Merged_Data = Cleaned_Diversity_Table.merge(Cleaned_US_Income_Table,on=["County","State"],how="inner")

In [14]:
# Loading Data to pgAdmin 4. 
# If the code doesn't work here, go all the way back up and change the "port = #" to your pgAdmin port.
connection_string = f"postgres:postgres@localhost:{port}/TEAM_AWESOME"
engine = create_engine(f"postgresql://{connection_string}")
conn = engine.connect()

# Load Income Table to pgAdmin
Cleaned_US_Income_Table.to_sql('median_income',engine,if_exists="replace")
engine.table_names()

# Load Diversity Table to pgAdmin
Cleaned_Diversity_Table.to_sql("Diversity",engine,if_exists="replace")
engine.table_names()

# Load Merged Data to pgAdmin
Merged_Data.to_sql("Merged_Data",engine,if_exists="replace")
engine.table_names()

['median_income', 'Diversity', 'Merged_Data']